* {
  box-sizing: border-box;
}

.container {
  border: 1px solid grey;
}

.logo {
  border: 1px solid grey;
}

.socialMedia {
  border: 1px solid grey;
  display: inline-block;
}

// .photo {
// }

.threeBoxes {
  border: 1px solid red;
}

.news {
  border: 1px solid grey;
  width: 400px;
  height: 300px;
}

.news-post {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.speacial {
  border: 1px solid grey;
  width: 300px;

}

.map {
  border: 1px solid grey;
  width: 300px;

}

.tabs {
  border: 1px solid red;
}

.story {
  border: 1px solid grey;
}

.menu {
  border: 1px solid grey;
}

.reservations {
  border: 1px solid grey;
}

.foodPhotos {

}
