* {
  box-sizing: border-box;
}

.container {
  border: 1px solid grey;
}

.logo {
  border: 1px solid grey;
}

.socialMedia {
  border: 1px solid grey;
  display: inline-block;
}

// .photo {
// }

.threeBoxes {
  border: 1px solid red;
}

.news {
  border: 1px solid grey;
}

.speacial {
  border: 1px solid grey;
}

.map {
  border: 1px solid grey;
}

.tabs {
  border: 1px solid red;
}

.story {
  border: 1px solid grey;
}

.menu {
  border: 1px solid grey;
}

.reservations {
  border: 1px solid grey;
}

.foodPhotos {

}
