* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;

}

.container {
  display: flex;
  flex-direction: column;
  // flex-flow: row wrap;
  // justify-content: space-around;
  border: 1px solid grey;
  width: 80%;


  .logo {
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
    .socialMedia {
      border: 1px solid grey;
    }
  }

  .threeBoxes {
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    .news {
      border: 1px solid grey;
      width: 300px;
      height: 250px;

    }
    .special {
      border: 1px solid grey;
      width: 300px;
      height: 250px;

    }
    .map {
      border: 1px solid grey;
      width: 300px;
      height: 250px;

    }
  }

  .tabs {
    border: 1px solid green;
    display: flex;
    flex-direction: row;

    .story {
      border: 1px solid grey;
      width: 500px;
      height: 500px;
    }

    .menu {
      border: 1px solid grey;
      width: 500px;
      height: 500px;

    }

    .reservations {
      border: 1px solid grey;
      width: 500px;
      height: 500px;

    }
  }

  .foodPhotos {
    width: 100px;
    height: 500px;

  }

}
